In [1]:
import pandas as pd

In [2]:
base_colab = pd.read_excel('Base dados colaboradores.xlsx')
relat_ponto = pd.read_excel('Relatorio_horas_diarias.xlsx')
logs_emails =  pd.read_excel('logs_base.xlsx')

In [3]:
logs_emails.head()

,origin_timestamp_utc,hora,sender_address,recipient_status,message_subject,total_bytes,message_id,network_message_id
0,2021-06-03,23:59:49,hdesk.banco@bancofibra.com.br,milena.bispo@terceiro.bancofibra.com.br##Deliver,NaN,NaN,NaN,NaN
1,2021-06-14,23:59:49,william.dasilva@bancofibra.com.br,"william.dasilva@bancofibra.com.br##Receive, De...",Plano de Ação Carbonext,45611.0,<FR1P15201MB2327D11DCD2FE796C59A785BA5319@FR1P...,f431ad81-07a4-41bc-00b0-08d92ee0795c
2,2021-06-08,23:59:30,luis.blas@bancofibra.com.br,"john.oliveira@bancofibra.com.br##Receive, Deliver",NaN,NaN,NaN,NaN
3,2021-06-07,23:59:29,dynatrace@bancofibra.com.br,raphael.geronimo@terceiro.bancofibra.com.br##D...,NaN,NaN,NaN,NaN
4,2021-06-08,23:59:29,luis.blas@bancofibra.com.br,"john.oliveira@bancofibra.com.br##Receive, Deliver",NaN,NaN,NaN,NaN

In [4]:
relat_ponto.head()

,Id Empresa,Desc Empresa,Id Local,Desc Local,Id Folha,Desc Folha,Id Hirarquia,Desc Hierarquia,Id_Gestor,Nome_Gestor,...,Previsto.1,Realizado.1,Id Evento.1,Desc Evento.1,Quantidade Valor.1,Quantidade Hora.1,Id Tipo Dia,Desc Tipo Dia,Id Tipo Ocorrência,Desc Tipo Ocorrência
0,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,08:30 17:30,08:20 13:00 14:00 18:56,46,Horas Excedentes (Saída),1.433333,01:26,1,Dia Normal de Trabalho,0,Não Necessita Ação
1,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,08:30 17:30,08:15 13:12 14:15 18:56,46,Horas Excedentes (Saída),1.433333,01:26,1,Dia Normal de Trabalho,0,Não Necessita Ação
2,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,08:30 17:30,09:45 13:13 14:13 18:00,46,Horas Excedentes (Saída),0.500000,00:30,1,Dia Normal de Trabalho,0,Não Necessita Ação
3,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,08:30 17:30,09:46 13:25 14:25 17:47,46,Horas Excedentes (Saída),0.283333,00:17,1,Dia Normal de Trabalho,0,Não Necessita Ação
4,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,08:30 17:30,08:16 13:04 14:05 18:14,46,Horas Excedentes (Saída),0.733333,00:44,1,Dia Normal de Trabalho,0,Não Necessita Ação

In [5]:
base_colab.head()

,id_contratado,nome_completo,email,login_rede
0,16,MARIA DORZILA NEPOMUCENO,MARIA.NEPOMUCENO@BANCOFIBRA.COM.BR,mnepomuceno
1,41,CARLOS EDUARDO DE SOUZA,CARLOS.SOUZA@BANCOFIBRA.COM.BR,csouza
2,46,MARIA ISABEL DOS SANTOS FRANCA,MARIA.FRANCA@CREDIFIBRA.COM.BR,mfranca
3,57,RODRIGO DOS SANTOS RODRIGUES,RODRIGO.RODRIGUES@BANCOFIBRA.COM.BR,rrodrigues
4,83,AMELIO RODRIGUES DA SILVA ROCHA,AMELIO.ROCHA@CREDIFIBRA.COM.BR,arrocha

In [6]:
base_colab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_contratado  336 non-null    int64
 1   nome_completo  336 non-null    object
 2   email          336 non-null    object
 3   login_rede     328 non-null    object
dtypes: int64(1), object(3)
memory usage: 10.6+ KB

In [7]:
relat_ponto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752 entries, 0 to 2751
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id Empresa            2752 non-null   int64
 1   Desc Empresa          2752 non-null   object
 2   Id Local              2752 non-null   int64
 3   Desc Local            2752 non-null   object
 4   Id Folha              2752 non-null   int64
 5   Desc Folha            2752 non-null   object
 6   Id Hirarquia          2752 non-null   int64
 7   Desc Hierarquia       1266 non-null   object
 8   Id_Gestor             2752 non-null   int64
 9   Nome_Gestor           2752 non-null   object
 10  Id CCusto             2752 non-null   int64
 11  Desc CCusto           2752 non-null   object
 12  Id Cargo              2752 non-null   int64
 13  Desc Cargo            2752 non-null   object
 14  Id Contratado         2752 non-null   int64
 15  Desc Contratado       2752 non-null   object
 16  Data                  2752 non-null   datetime64[ns]
 17  Previsto              2752 non-null   object
 18  Realizado             2752 non-null   object
 19  Id Evento             2752 non-null   int64
 20  Desc Evento           2752 non-null   object
 21  Quantidade Valor      2752 non-null   float64
 22  Quantidade Hora       2752 non-null   object
 23  Id Cargo.1            2752 non-null   int64
 24  Desc Cargo.1          2752 non-null   object
 25  Id Contratado.1       2752 non-null   int64
 26  Desc Contratado.1     2752 non-null   object
 27  Data.1                2752 non-null   datetime64[ns]
 28  Dia da Semana         2752 non-null   datetime64[ns]
 29  Previsto.1            2752 non-null   object
 30  Realizado.1           2752 non-null   object
 31  Id Evento.1           2752 non-null   int64
 32  Desc Evento.1         2752 non-null   object
 33  Quantidade Valor.1    2752 non-null   float64
 34  Quantidade Hora.1     2752 non-null   object
 35  Id Tipo Dia           2752 non-null   int64
 36  Desc Tipo Dia         2752 non-null   object
 37  Id Tipo Ocorrência    2752 non-null   int64
 38  Desc Tipo Ocorrência  2752 non-null   object
dtypes: datetime64[ns](3), float64(2), int64(14), object(20)
memory usage: 838.6+ KB

In [8]:
relat_ponto = relat_ponto.rename(columns={'Id Contratado': 'id_contratado'})

In [9]:
relat_ponto = pd.merge(relat_ponto, base_colab, on=['id_contratado'], how='left')

## Daqui pra frente as buscar por valores

In [10]:
relat_ponto['Realizado.1'][1][-5:]

'18:56'

In [11]:
#criando colulas vazias no data frema
#criando colulas vazias no data frema
relat_ponto['hora_saida'] = 'NaN'
relat_ponto['Fora_horas'] = 'NaN'

In [12]:
# EXTRAINDO VALORES DAS HORAS E ATRIBUINDO EM UM NOVO CAMPO APENAS AS HORAS; 
for index, row in relat_ponto.iterrows():
    relat_ponto.loc[index,'hora_saida'] = relat_ponto.loc[index,'Realizado.1'][-5:]

In [13]:
relat_ponto.head()

,Id Empresa,Desc Empresa,Id Local,Desc Local,Id Folha,Desc Folha,Id Hirarquia,Desc Hierarquia,Id_Gestor,Nome_Gestor,...,Quantidade Hora.1,Id Tipo Dia,Desc Tipo Dia,Id Tipo Ocorrência,Desc Tipo Ocorrência,nome_completo,email,login_rede,hora_saida,Fora_horas
0,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,01:26,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,ALICE.NOGUEIRA@BANCOFIBRA.COM.BR,anogueira,18:56,NaN
1,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,01:26,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,ALICE.NOGUEIRA@BANCOFIBRA.COM.BR,anogueira,18:56,NaN
2,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,00:30,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,ALICE.NOGUEIRA@BANCOFIBRA.COM.BR,anogueira,18:00,NaN
3,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,00:17,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,ALICE.NOGUEIRA@BANCOFIBRA.COM.BR,anogueira,17:47,NaN
4,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,00:44,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,ALICE.NOGUEIRA@BANCOFIBRA.COM.BR,anogueira,18:14,NaN

### Vamos tranformar a coluna email toda em minusculo para nao dar erro na comparação

In [14]:
# Convertendo maiuscula para minuscula no campo email
#ISSO VAI DAR ERRO MAIS A ALTERAÇÃO SERÁ FEITA 
for index, row in relat_ponto.iterrows():
    relat_ponto.loc[index,'email'] = relat_ponto.loc[index,'email'].lower()

AttributeError: 'float' object has no attribute 'lower'

In [15]:
relat_ponto.head()

,Id Empresa,Desc Empresa,Id Local,Desc Local,Id Folha,Desc Folha,Id Hirarquia,Desc Hierarquia,Id_Gestor,Nome_Gestor,...,Quantidade Hora.1,Id Tipo Dia,Desc Tipo Dia,Id Tipo Ocorrência,Desc Tipo Ocorrência,nome_completo,email,login_rede,hora_saida,Fora_horas
0,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,01:26,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,alice.nogueira@bancofibra.com.br,anogueira,18:56,NaN
1,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,01:26,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,alice.nogueira@bancofibra.com.br,anogueira,18:56,NaN
2,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,00:30,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,alice.nogueira@bancofibra.com.br,anogueira,18:00,NaN
3,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,00:17,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,alice.nogueira@bancofibra.com.br,anogueira,17:47,NaN
4,1,BANCO FIBRA SA,1,BANCO FIBRA SA,11,Mensalistas,7,SECRETARIAS,3878,ARNO SCHWARZ,...,00:44,1,Dia Normal de Trabalho,0,Não Necessita Ação,ALICE ROBOREDO NOGUEIRA,alice.nogueira@bancofibra.com.br,anogueira,18:14,NaN

In [16]:
logs_emails['hora'][1]

datetime.time(23, 59, 49)

In [17]:
#convertendo campo hora saindo de string para datetime
relat_ponto['hora_saida'] = pd.to_datetime(relat_ponto['hora_saida'])

In [18]:
relat_ponto['hora_saida'][1].time()

datetime.time(18, 56)

In [19]:
relat_ponto['hora_saida']

0      2021-08-27 18:56:00
1      2021-08-27 18:56:00
2      2021-08-27 18:00:00
3      2021-08-27 17:47:00
4      2021-08-27 18:14:00
               ...
2747   2021-08-27 19:51:00
2748   2021-08-27 20:16:00
2749   2021-08-27 19:08:00
2750   2021-08-27 21:27:00
2751   2021-08-27 20:07:00
Name: hora_saida, Length: 2752, dtype: datetime64[ns]

In [20]:
relat_ponto['Data'][50]

Timestamp('2021-06-02 00:00:00')

In [ ]:
posicao = 0
while posicao<len(relat_ponto):
    for index, row in logs_emails.iterrows():
        if logs_emails.loc[index,'sender_address'] == relat_ponto['email'][posicao]  and logs_emails.loc[index,'origin_timestamp_utc'] == relat_ponto['Data'][posicao] and logs_emails.loc[index,'hora'] > relat_ponto['hora_saida'][posicao].time():
            
            relat_ponto['Fora_horas'][posicao] = 1
            print('Exeção encontrada')
        
    posicao = posicao +1;

<ipython-input-21-29690da33d60>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relat_ponto['Fora_horas'][posicao] = 1

Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada
Exeção encontrada

# TESTES DAQUI PRA FRENTE

In [ ]:
logs_emails['origin_timestamp_utc'][1]

In [ ]:
relat_ponto['Data']

In [ ]:
#Com parando dois valores de tabelas diferentes
posicao = 0
while posicao<len(relat_ponto):
    posicao = posicao +1;
    print(posicao)

In [ ]:
for index, row in logs_emails.iterrows():
    for i, row in relat_ponto.iterrows():
        if logs_emails.loc[index,'sender_address'] == 'alice.nogueira@bancofibra.com.br' and logs_emails.loc[index,'origin_timestamp_utc'] == relat_ponto.loc[i,'Data'] and logs_emails.loc[index,'hora']>logs_emails['hora'][90000]:
            logs_emails.loc[index,'Fora_horas'] = 1

            print('Exeção encontrada')

In [ ]:
logs_emails['Fora_horas'] = pd.NA

In [ ]:
a=1
b=3
c=4
d=5

In [ ]:
if b >a and b<c and c<d:
    print(" Dar pra comparar com barra")
else:
    print("ta errado ")

In [ ]:
relat_ponto['Fora_horas'].value_counts()

In [ ]:
df['col'] = pd.to_datetime(df['col'])

In [ ]:
relat_ponto['hora_saida'][50]

In [ ]:
'taina.canavarros@bancofibra.com.br'

In [ ]:
for index, row in logs_emails.iterrows():
    logs_emails.loc[index,'Fora_horas'] ='NaN'

In [ ]:
logs_emails['hora'][90000]

In [ ]:
logs_emails['Fora_horas'].value_counts()

In [ ]:
relat_ponto

In [ ]:
len(relat_ponto)

In [ ]:
#Com parando dois valores de tabelas diferentes
posicao = 0
while posicao<len(relat_ponto):
    for index, row in logs_emails.iterrows():
        if logs_emails.loc[index,'sender_address'] == relat_ponto['email'][posicao] and logs_emails.loc[index,'origin_timestamp_utc'] == relat_ponto['Data'][posicao] and logs_emails.loc[index,'hora'] > relat_ponto['hora_saida'][posicao].time():
            
            relat_ponto['Fora_horas'][posicao] = 1    
    posicao = posicao +1;

In [ ]:
relat_ponto['Fora_horas'] == 1